[Unit]
Description=Flush msmtp queue
After=keyring.target network.target
# Reenable once #3963 is fixed
#ConditionPathExistsGlob=%h/.local/share/mail.queue/*.mail

[Service]
Type=oneshot
ExecStart=/usr/local/bin/msmtpq-flush

[Install]
Also=msmtp-queue.timer
Also=msmtp-queue.path
