<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>name.neuhalfen.msmtpq-watcher</string>
    <!--
        ServiceDescription seems to be unsupported but I will keep it here
        to boldly state what nobody wants to see: what this does
    -->
    <key>ServiceDescription</key>
    <string>msmtpq - Queue Watcher</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>Program</key>
    <string>/usr/local/bin/msmtpq-flush</string>
    <key>QueueDirectories</key>
    <array>
      <string>~/.local/share/mail.queue</string>
    </array>
    <!-- Do not run more often than every X seconds -->
    <key>ThrottleInterval</key>
    <integer>30</integer>
  </dict>
</plist>
